@import "tailwindcss";

:root {
    --main: hsl(0, 0%, 92%);
    --sub: hsl(0, 0%, 82%);
    --black: hsl(240, 100%, 25%);
}

.bg-main{
    background: var(--main);
}
.bg-sub{
    background: var(--sub);
}